@keyframes fill-pri {
    from {fill: transparent}
    to {fill: rgb(28, 124, 84)}
}

@keyframes fill-sec {
    from {fill: transparent}
    to {fill: rgb(236, 167, 44)}
}

svg .stroke-2,
svg .stroke-3,
svg .stroke-4,
svg .stroke-5,
svg .stroke-6 {
    fill: rgb(28, 124, 84);
    animation-name: fill-pri;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

svg .stroke-7,
svg .stroke-8,
svg .stroke-9,
svg .stroke-10 {
    fill: rgb(236, 167, 44);
    animation-name: fill-sec;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

svg .stroke-2 {
    transition: fill 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
}

svg .stroke-3 {
    transition: fill 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s;
}

svg .stroke-4 {
    transition: fill 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s;
}

svg .stroke-5 {
    transition: fill 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.1s;
}

svg .stroke-6 {
    transition: fill 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.3s;
}

svg .stroke-7 {
    transition: fill 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s;
}

svg .stroke-8 {
    transition: fill 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.7s;
}

svg .stroke-9 {
    transition: fill 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.9s;
}

svg .stroke-10 {
    transition: fill 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.1s;
}
  