:root {
    --pri-color: #1C7C54;
    --sec-color: #F0BCD4;
    --pri-text: #0A2E36;
    --sec-text: #ECA72C;
    --pri-accent: rgba(198, 197, 185, 0.8);
    --sec-accent: #EBB9DF;
    --bg-color: #F7F7FF;
    --bg-color-o3: rgb(247, 247, 255, 0.3);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;;
}
span, p, a, button {
    font-family: 'Rubik', sans-serif;
}
.nav-logo {
    flex-grow: 1;
    cursor: pointer;
    padding: 0.2rem;
}
.nav-logo img {
    max-height: 9vh;
}
.nav-link {
    display: flex;
    margin-left: 1rem;
}
.nav-link-item {
    color: var(--pri-text);
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 2em;
}
.nav-link-item:hover {
    color: var(--sec-text);
    border-bottom: 1px solid var(--sec-text);
}

/* --- mui medium --- */
@media screen and (max-width: 900px) {
    .nav-logo img {
        max-height: 6vh;
    }
    .nav-drawer .MuiDrawer-paper {
        background-color: var(--bg-color);
    }
    .nav-menu {
        min-width: 30vw;
    }
    .nav-link-item {
        margin: 0;
        padding: 0.5rem;
    }
}

/* --- mui small --- */
@media screen and (max-width: 600px) {
}